<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.owner.saloon.craftystudio.saloonowner">

    <permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SaloonProfile"
            android:label="@string/title_activity_saloon_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SaloonImageActivity"
            android:label="@string/title_activity_saloon_image"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddSaloonServiceActivity"
            android:label="@string/title_activity_add_saloon_service"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ServiceListActivity"
            android:label="@string/title_activity_service_list"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_android_map_api_key" />

        <activity
            android:name=".FullDetailActivity"
            android:label="@string/title_activity_full_detail"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>